.raleway-font {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  line-height: 1.6;
  color: #111;
  background: #fff;
}

/* Reusable Button */
.btn {
  padding: 10px 20px;
  background: #4f46e5;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.btn:hover {
  background: #3730a3;
}

/* Hero Header */
.hero-header {
  background-image: url('../Assets/Hero-bg.png'); 
  height: 698px;
  background-position: center;
  padding: 60px 40px;
  color: white;
  text-align: center;
}

/* Navbar inside Hero */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

.logo {
  font-weight: bold;
  font-size: 34px;
  color: #3730a3;
}

.hero-content h1 {
  font-size: 65px;
  color: #252432;
  font-weight: bold;
  margin: 188px 265px 0px 265px;
  justify-content: center;
}

.action {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 20px 60px 20px;
  max-width: 1100px;
  margin: auto;
  gap: 170px;
  flex-wrap: wrap;
}

.action-left {
  /* flex: 1; */
  min-width: 280px;
}

.action-left h2 {
  font-size: 42px;
  font-weight: bold;
  color: #111827;
  margin-bottom: 16px;
}

.action-left p {
  font-size: 18px;
  color: #6b7280;
  margin-bottom: 24px;
}

.action-left .btn {
  background: #4f46e5;
  font-weight: bold;
  padding: 12px 36px;
  font-size: 16px;
  border-radius: 6px;
}

.action-right {
  flex: 1;
  min-width: 280px;
  text-align: center;
}

.action img {
  width: 100%;
  max-width: 500px;
  border-radius: 20px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
}

/* Stats */
.productive {
  padding: 80px 20px;
  text-align: center;
}

.productive h2 {
  font-size: 18px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 40px;
}

.stats {
  background: rgba(99, 102, 241, 0.08);
  padding: 50px 30px;
  border-radius: 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  flex-wrap: wrap;
  gap: 50px;
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.03); 
}

.stat {
  flex: 1;
  min-width: 160px;
}

.stat h3 {
  font-size: 80px;
  font-weight: 700;
  color: #4f46e5;
  margin-bottom: 8px;
}

.stat p {
  font-size: 0.95rem;
  color: #6b7280;
}